@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Hind', sans-serif;
}

h1, p, button {
    position: relative;
    z-index: 2;
}

h1 {
    margin-top: 2rem;
    font-family: 'Teko', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 3px 3px 5px #333;    
}

h2 {
    margin-top: 2rem;
    font-family: 'Teko', sans-serif;
    font-size: 2.75rem;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: .5rem;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    text-shadow: 3px 3px 5px #333;    
}

.btn {
    color: #FFF !important;
}

.navbar {
    width: 100%;
    height: 17vh;
    padding: 1rem 5%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-weight: 500;
    position: fixed;
    z-index: 3;
}

.nav-link {
    margin-left: 1rem;
    color: #5f5f5f !important;
}

.nav-link:hover {
    color: #48487f !important;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-light {
    background: #ffffff!important;
}

.hero {
    position: relative;
    background: #395D93;
    overflow: hidden;
    height: 100vh;
}

.hero::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0.3;
    background-image: url('../Images/hero.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.hero .container, .content {
    height: inherit;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    color: #000;
    text-shadow: none;
}